*{
	-fx-background-color: #555555;
	-fx-text-fill: WHITE;
}

.list-cell:even{
	-fx-background-color: #444444;
}

.list-cell:selected{
	-fx-background-color: #343434;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb{
	-fx-background-color: #444444;
}

.list-view .virtual-flow .scroll-bar:horizontal .thumb{
	-fx-background-color: #444444;
}

.web-view .scroll-bar:vertical .thumb{
	-fx-background-color: #444444;
}

.web-view .scroll-bar:horizontal .thumb{
	-fx-background-color: #444444;
}


.text-area .scroll-bar:vertical {
    -fx-opacity: 0;
}

.menu-item{
	-fx-background-color: #555555;
}

.menu-item .label{
	-fx-background-color: #555555;
}

.menu-item:hover{
	-fx-background-color: #343434;
}

.menu-item:hover .label{
	-fx-background-color: #343434;
}